// $mdc-linear-progress-baseline-buffer-color: ;
//

// MDC Theme
//

@import "@material/theme/color-palette";

// Svelte Colors!
$mdc-theme-primary: rgb(255, 185, 33);
$mdc-theme-secondary: #f47e17;
// Other Svelte color: #40b3ff

$mdc-theme-background: rgb(248, 244, 244);
$mdc-theme-surface: #fff;

$mdc-theme-error: $material-color-red-900;
